*{
    margin: 0;
    font-family: arial,sans-serif;
    border: border-box;
}


.navbr{                                 /* navbar */
    height: 60px;
    background-color: #070808;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* box1--logo */

.nav-logo{
    height: 50px;
    width: 110px;
    cursor: pointer;
    margin-left: 10px;
}

.logo{
    background-image: url("../images/amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border{
    border: 1.5px solid transparent
}

.border:hover{
    border: 1.5px solid rgba(245, 245, 245, 0.492)
}

/* box2--address */

.address-first{
    font-size: 0.75rem;
    color: #cccccc;
}

.address-second{
    font-size: 0.9rem;
    color: #ffffff;
    font-weight:700;
}

.nav-address{
    height: 50px;
    width: 90px;
    display: flex;
    cursor: pointer;
}

.address-icon{
    margin-top: 20px;
    margin-left: 10px;
}

.address-item{
    align-self: center;
    margin-left: 5px;
}

/* box3--search */

.nav-search{
    height: 40px;
    width: 900px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    margin: 0px 15px 0px 15px;
}

.search-select{
    background-color: #dddddd;
    width: 52px;
    border-radius: 4px 0px 0px 4px;
    border: none;
    color: #696969;
    padding-left: 8px;
    font-size: 0.75rem;
}

.search-input{
    width: 100%;
    font-size: 0.9rem;
    border: none;
    padding-left: 8px;
    border-radius: 0%;
}

.search-icon{
    width: 50px;
    background-color:#febd68;
    border: none;
    border-radius: 0px 4px 4px 0px;
    color: #10171d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.nav-search:hover {
    border: 2px solid orange;
}

/* box4--lang */

.nav-lang{
    height: 50px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.lang-icon{
    font-size: 1rem;
    color: rgb(106, 159, 251);
}

.lang-item{
    padding-left: 2px;
}

.lang-select{
    background-color: #070808;
    color: white;
    border: none;
}

/* box5--signin */

.nav-signin{
    height:50px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px;
    cursor: pointer;
}

span{
    font-size: 0.75rem
}

.signin-second{
    font-size: 0.9rem;
    font-weight:700;              /* span and signin-second are same for box 6 */
}

/* box6--order */

.nav-order{
    height:50px;
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px;
    cursor: pointer;
}

/* box7--cart */

.nav-cart{
    height: 50px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
}

.nav-cart i{
    font-size: 28px;
}

.nav-cart p{
    padding-top: 15px;
    font-weight: 700;
    font-size: 0.9rem;
}

                            

.panal{                            /* panals */
    height: 40px;
    background-color: #1e2c3a;
    color: white;
    display: flex;
    align-items: center;
    justify-content:left;
}

.panal-all{
    display: flex;
    margin-left: 10px;
    width: 40px;
    cursor: pointer;
    padding: 9px;
}

.panal-all i{
    font-size: 18px;
}

.panal-all p{
    font-size: 0.9rem;
    padding-left: 5px;
    font-weight: 700;
}

.panal-ops{
    width: 80%;
    display: flex;
    align-items: center;
}

.panal-ops p{
    display: inline;
    font-size: 0.9rem;
    padding: 9px;
    border: 1.5px solid transparent;
    cursor: pointer;
    align-items: self-start;
}

.panal-ops p:hover{
    border: 1.5px solid rgba(245, 245, 245, 0.492)
}

.main{                   /* main */
    height: 100%;
}

.main-filter{
    height: 55px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.main-filter p{
    padding: 8px 10px;
    border: 1px solid #5b5b5c5d;
    border-radius: 6px;
    margin: 0px 6px 0px;
}

.main-filter img{
    width: 160px;
    padding: 1.8px 0px;
    border: 1px solid #5b5b5c5d;
    border-radius: 6px;
    margin: 0px 6px 0px;
}

.filter{                    /* filter word */
    color: #007185;
    font-weight: 550;
}

.arrow-down {                 /* arrow-down */
  border: solid #5b5b5cb8;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin: -1px 4px 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.main-filter p:hover, img:hover{
    border: 1px solid #1B8FA1;
    cursor: pointer;
}


.product-list{
    height: 100%;
    margin: 25px 140px 0px;
}

.product-list .pl-p{
    color: #565959e9;
    font-size: 14px;
    padding: 4px 0px;
}

.plbox{
    height: 250px;
    width: 100%;
    border: 0.5px solid #F5F5F5;
    border-radius: 4px;
    display: flex;
    margin-top: 10px;
}

.pl-img{
    width: 218px;
    background-size: cover;
    margin: 12px 20px 0px;
}

.pl-contant{
    width: 980px;
    padding-left: 10px;
    background-color: #f7f7f7da;
}

.pl-contant .pd1{
    font-size: larger;
    padding: 10px 200px 10px 5px;
}

.pl-contant .pd2{
    font-size: 13.5px;
    font-weight: 550;
    padding: 2px 6px;
}

.pl-contant .pd2 a{
    text-decoration: none;
    color: #007185;
    &:hover{
        color: #C7511F;
    }
}

.pl-contant .pd3{
    font-size: 30px;
    font-weight: 500;
    padding: 20px 4px 0px;
}

.pl-contant .pd3 sup{
    font-size: 14px;
}

.pl-contant .pd4{
    font-size: 12.9px;
    padding: 10px 4px 0px;
}

.pl-contant .pd5{
    font-size: 12.9px;
    font-weight: bold;
    padding: 2px;
    margin: 6px 860px 0px 0px;
}

.pl-contant .pd5 button{
    background-color: #FFD814;
    border-radius: 16px;
    border: none;
    padding: 8px 10px;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        background-color: #F7CA00;
    }
}


.footer_panal1{                   /* footer */
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 40px;
    cursor: progress;
}

.footer_panal2{
    height: 400px;
    background-color: #232F3E;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-left: 150px;
    padding-right: 150px;
}

ul{
    padding-top: 50px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    font-weight: 500;
    color: #dddddd;
    cursor: pointer;
}

ul p{
    font-size: 0.95rem;
    font-weight: 700;
    cursor: pointer;
}

.footer_panal3{
    height: 100px;
    background-color: #232F3E;
    border-top: 2px solid #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panal3_logo{
    background-image: url("../images/amazon_logo.png");
    height: 50px;
    width: 120px;
    background-size: cover;
    border-radius: 2px;
    cursor: pointer;
}

.clone{
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

.panal3_icon{
    height: 45px;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 55px;
    cursor: pointer;
}

.me_icon{
    font-size: 1.5rem;
}

.footer_panal4{
    height: 120px;
    background-color: #131A22;
    color: #dddddd;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.copy{
    font-size: 0.7rem;
    font-weight: 550;
    text-align: center;
    cursor: pointer;
}

.panal4_1{
    padding-top: 20px;
}

.panal4_1 a{
    padding-left: 12px;
}

.panal4_2{
    padding-top: 8px;
}

.panal3_icon:hover{         /* ghost icon hover */
    .me_icon{
        color:#1e2c3a;
        text-shadow: orange 0 0 15px;
        font-size: 2rem;
}
}


@media only screen and (max-width: 768px){               /* Responsive for mobile (max 600px) and tablet (max 768px), But i config by max 425px which support both*/
    
    html{
        height: 1540px;
    }

    .navbr{                                 /* navbar */
        height: 30px;
    }
    
    .nav-logo{                              /* box1--logo */
        height: 25px;
        width: 50px;
        margin-left: 5px;
    }

    .logo{
        height: 25px;
        width: 50px;
    }

    .address-first{                         /* box2--address */
        font-size: 0.37rem;
    }
    
    .address-second{
        font-size: 0.45rem;
    }
    
    .nav-address{
        height: 25px;
        width: 45px;
    }
    
    .address-icon{
        margin-top: 10px;
        margin-left: 4px;
        font-size: 8px;
    }
    
    .address-item{
        margin-left: 2.5px;
    }

    .nav-search{                            /* box3--search */
        height: 20px;
        width: 180px;
        margin: 0px 7.5px 0px 7.5px;
    }
    
    .search-select{
        width: 24px;
        border-radius: 2px 0px 0px 2px;
        padding-left: 4px;
        font-size: 0.5rem;
    }
    
    .search-input{
        font-size: 0.45rem;
        padding-left: 4px;
    }
    
    .search-icon{
        width: 25px;
        border-radius: 0px 2px 2px 0px;
        font-size: 0.62rem;
    }
    
    .nav-lang{                               /* box4--lang */
        height: 25px;
        width: 40px;
    }
    
    .lang-icon{
        font-size: 0.5rem;
        padding-top: 2px;
    }
    
    .lang-item{
        padding-left: 1px;
    }

    .lang-select{
        font-size: 0.5rem;
    }
    
    .nav-signin{                             /* box5--signin */
        height:25px;
        width: 60px;
        padding-left: 6px;
    }
    
    span{
        font-size: 0.3rem
    }
    
    .signin-second{
        font-size: 0.35rem;
    }

    .nav-order{                              /* box6--order */
        height:25px;
        width: 38px;
        padding-left: 6px;
    }

    .nav-cart{                               /* box7--cart */
        height: 25px;
        width: 40px;
        margin-right: 7.5px;
    }
    
    .nav-cart i{
        font-size: 12px;
    }
    
    .nav-cart p{
        padding-top: 7.5px;
        font-weight: 700;
        font-size: 0.45rem;
    }

    .panal{                            /* panals */
        height: 20px;
    }
    
    .panal-all{
        width: 20px;
        padding: 5px;
    }
    
    .panal-all i{
        font-size: 8px;
    }
    
    .panal-all p{
        font-size: 0.45rem;
        padding-left: 2.5px;
    }
    
    .panal-ops{
        width: 80%;
    }
    
    .panal-ops p{
        font-size: 0.45rem;
        padding: 4.5px;
    }
        
    .panal-deals{
        width: 100px;
        padding: 4.5px;
        font-size: 0.45rem;
    }

    
    .main-filter{        /* main */
        max-height: 30px;
        font-size: 0.5rem;
    }
    
    .main-filter p{
        padding: 5px;
        margin: 10px 2px 0px;
    }
    
    .main-filter img{
    display: none;
    }
    
    .arrow-down {                 /* arrow-down */
      border-width: 0 1.5px 1.5px 0;
      padding: 2px;
      margin: -1px 2px 2px;
    }
    
    .product-list{
        margin: 20px 15px 0px;
    }
    
    .product-list .pl-p{
        font-size: 9px;
    }

    .product-list h3{
        font-size: 12px;
    }
    
    .plbox{
        height: 120px;
    }
    
    .pl-img{
        width: 70px;
        margin: 22px 4px;
    }
    
    .pl-contant{
        width: 280px;
        padding-left: 4px;
    }
    
    .pl-contant .pd1{
        font-size: 8px;
        padding: 4px 2px 2px 5px;
    }
    
    .pl-contant .pd2{
        font-size: 6px;
        padding: 2px 5px;
    }
        
    .pl-contant .pd3{
        font-size: 14px;
        padding: 6px 5px 0px;
    }
    
    .pl-contant .pd3 sup{
        font-size: 6px;
    }
    
    .pl-contant .pd4{
        font-size: 6px;
        padding: 6px 5px 0px;
    }
    
    .pl-contant .pd5{
        margin: 5px 220px 0px 0px;
    }
    
    .pl-contant .pd5 button{
        padding: 8px 10px;
        font-size: 6px;
    }
    


    .footer_panal1{                   /* footer */
        height: 40px;
        font-size: 0.6rem;
        margin-top: 20px;
    }

    .footer_panal2{
        height: 220px;
        padding-left: 10px;
        padding-right: 50px;
    }
    
    ul{
        padding-top: 25px;
    }
    
    ul a{
        font-size: 0.35rem;
        margin-top: 5px;
        font-weight: 500;
    }
    
    ul p{
        font-size: 0.5rem;
        font-weight: 700;
        cursor: pointer;
    }

    .footer_panal3{
        height: 50px;
    }
    
    .panal3_logo{
        height: 25px;
        width: 60px;
        border-radius: 2px;
    }
    
    .clone{
        height: 20px;
        width: 80px;
        font-size: 0.6rem;
        padding-left: 10px;
    }
    
    .panal3_icon{
        height: 25px;
        width: 180px;
        margin-left: 45px;
    }
    
    .panal3_icon p{
        font-size: 0.65rem;
    }

    .me_icon{
        font-size: 1rem;
    }

    .footer_panal4{
        height: 80px;
    }
    
    .copy{
        font-size: 0.4rem;
        font-weight: 500;
        text-align: center;
        cursor: pointer;
    }
    
    .panal4_1{
        padding-top: 15px;
    }
    
    .panal4_1 a{
        padding-left: 10px;
    }
    
    .panal4_2{
        padding-top: 8px;
    }
}



.alert{                                                  /* warning popup */
    background: #F2E8C6;
    padding: 20px 40px;
    min-width: 120px;
    position:fixed;
    right: 0;
    top: 10px;
    border-radius: 4px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .alert.showAlert{
    opacity: 1;
    pointer-events: auto;
  }
  .alert.show{
    animation: show_slide 1s ease forwards;
  }
  @keyframes show_slide {
    0%{
      transform: translateX(100%);
    }
    40%{
      transform: translateX(-10%);
    }
    80%{
      transform: translateX(0%);
    }
    100%{
      transform: translateX(-10px);
    }
  }
  .alert.hide{
    animation: hide_slide 1s ease forwards;
  }
  @keyframes hide_slide {
    0%{
      transform: translateX(-10px);
    }
    40%{
      transform: translateX(0%);
    }
    80%{
      transform: translateX(-10%);
    }
    100%{
      transform: translateX(100%);
    }
  }
  .alert .fa-exclamation-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #800000;
    font-size: 20px;
  }
  .alert .msg{
    padding: 0 20px;
    font-size: 18px;
    color: #982B1C;
  }
  .alert .close-btn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #800000;
    padding: 20px 10px;
    cursor: pointer;
  }
  .alert .close-btn .fas{
    color: #ffffff;
    font-size: 22px;
    line-height: 40px;
  }